<?php
	/* 
		TEMPLATE - Call from readTumblr function 
		$post['tumblr.site'] 		- Tumblr site domain (ej. microbians.tumblr.com)
		$post['tumblr.tumblrid'] 	- ID of the post that tumblr uses
		$post['tumblr.date'] 		- Unix date of the post
		$post['tumblr.type'] 		- Type of post... photo, quote, text, link,...
		$post['tumblr.url'] 		- Url link to the post in tumblr
		$post['tumblr.slug'] 		- Slug name for the post tumblr uses
		$post['tumblr.data1'] 		- Data1 of post, it depends on type of post can be title or link or...
		$post['tumblr.data2'] 		- Data2 of post, it depends on type of post can be title or link or...
		$post['tumblr.data3'] 		- Data3 of post, it depends on type of post can be title or link or...
	*/
?>
<img src="<?php echo $post['tumblr.data1'];?>"/>